@media (min-width: @screen-sm-min) {
	footer {
		position: fixed;
		margin-top: 0;

		.left, .right { 
			float: left !important; 
			margin: 0;
			
			p {
				line-height: 35px;
			}
		}
		.right { 
			float: right !important; 
		}
	}

	#gallery {

		.grid-item {
			.box-shadow(5px 5px 0 0 @jj_light_grey);
			float: left;
			margin-bottom: 30px;

			.overlay {
				background: transparent;
				
				.tile_overlay {
					display: block;
				}

				.overlay_content {
					.opacity(0);
				}
			}
		}

		.grid-item--height1 { height: 330px; }

		#gallery_content {	
			padding-top: 150px;
		}
	}

}	